---
import Feature from "./feature.svelte";
---
<div class="flist">
    <h2>We Have these Features to offer you:</h1>
    <Feature name="Plugins" description="AndromedaDB has a Plugin system to">
</div>
<style lang="scss">
    .flist{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:606px;
        margin-top: 50px;
        font-size: 21px;
        h2{
        }
    }
    // Responsivness
    @media only screen and (max-width: 757px) {
        .flist{
            width: 80vw;
            h2{
                font-size: 4.2vw;
            }
        }
    }
</style>